.bottom{ style: "width: 100%; padding: 50px 0 0 0px; display: block;" }
  %strong Sponsors:
  %br
  = image_tag attachments["king_.png"].url, width: '150px', style: "display: inline-block; padding-right: 10px"
  = image_tag attachments['heroku.png'].url, width: '130px', style: "display: inline-block; padding-right: 10px"
  = image_tag attachments['carwow_.png'].url, width: '130px', style: "display: inline-block; padding-right: 10px"
  = image_tag attachments['honeycomb.png'].url, width: '130px', style: "display: inline-block; padding-right: 10px"
  = image_tag attachments['teespring.jpg'].url, width: '130px', style: "display: inline-block; padding-right: 10px"
