%legend
  %h2
    Members
    .pull-right
      %strong= link_to 'Add Member', new_admin_city_member_path, class: "btn"

%ul.unstyled
  - @members.each do |member|
    %li.row
      .span1
        .pull-right= image_tag gravatar_url(member.email), class: 'img-circle'
      .span3
        =link_to  member.name, [:admin, @city, member]
        %br
        = member.email
      .span2.offset1
        .pull-right
          = link_to 'Edit', edit_admin_city_member_path(@city, member), class: "btn"
    %hr

= link_to 'Back', admin_city_path(@city)
