= simple_form_for([:admin, @event], html: {class: "form-horizontal"}) do |f|
  = f.error_notification

  .form-inputs
    = f.association :city
    = f.input :description, input_html: {rows: 5, class: "span6"}
    = f.input :starts_on, start_year: Date.today.year,
                                     end_year: Date.today.year + 1,
                                     order: [:day, :month, :year], input_html: { class: "span1" }
    = f.input :ends_on, start_year: Date.today.year,
                                    end_year: Date.today.year + 1,
                                    order: [:day, :month, :year], input_html: { class: "span1" }
    = f.input :registration_deadline, start_year: Date.today.year,
                                      end_year: Date.today.year + 1,
                                      order: [:day, :month, :year], input_html: { class: "span1" },
                                      hint: "Registrations will only become available when you set the registration deadline", class: 'help-inline'
    = f.input :active

  .form-actions
    = f.button :submit, class: 'btn btn-large'
