#events
  %legend
    %h2
      Events
      .pull-right
        %strong= link_to 'Add Event', new_admin_event_path, class: 'btn'

  %ul.unstyled
    - @events.each do |event|
      %li.row
        .span1= link_to event.city_name, [:admin, event]
        .span5
          = event.dates
          - unless event.active?
            .label.label-info Not active
          %br
          = link_to event.description, [:admin, event]
        .span1
          = link_to 'Destroy', [:admin, event], class: "btn btn-danger", :method => :delete, :data => { :confirm => 'Are you sure?' }
      %br
