#events
  %h2 Events

  %table.table
    %tr
      %th City
      %th Title
      %th Dates
      %th Description
      %th Active
      %th
      %th

    - @events.each do |event|
      %tr
        %td= link_to event.city_name, [:admin, event]
        %td= event.title
        %td= event.dates
        %td= link_to event.description, [:admin, event]
        %td= event.active?
        %td= link_to 'Edit', edit_admin_event_path(event), class: "btn"
        %td= link_to 'Destroy', [:admin, event], class: "btn", :method => :delete, :data => { :confirm => 'Are you sure?' }

  %hr

  = link_to 'Add Event', new_admin_event_path
