#admin_event
  %legend
    %h3
      = event_title(@event)
      %small= @event.dates
      .pull-right= link_to 'Edit', edit_admin_event_path(@event), class: "btn"
  %p.lead= @event.description

  .highlight
    The event is
    = @event.active ? "active" : "not active"

  %br
  %br

  =render 'admin/shared/messages'
  =render partial: "admin/shared/sponsors", locals:  { sponsorable: @event }

  =render partial: "admin/shared/coaches", locals:  { coachable: @event } if @event.coachable

  =render partial: "admin/shared/invitations", locals:  { invitable: @event,  invitations: @event.invitations } unless @event.invitations.empty?

  =render partial: "admin/shared/registrations", locals:  { registrations: @event.registrations }
  =render partial: "admin/shared/coach_registrations", locals:  { registrations: @event.coach_registrations}

  =render partial: "admin/shared/attendances", locals: { event: @event }
