%p#notice= notice

%h2 Event
%p
  %b Description:
  = @event.description

%p
  %b Active:
  = @event.active

%p
  %b City:
  = @event.city_name


- if @event.sponsors.any?
  %h3 Sponsors
  %table.table
    - @event.sponsors.each do |sponsor|
      %tr
        %td= link_to sponsor.name, [:admin, sponsor]

- if @event.coaches.any?
  %h3 Coaches
  %table.table
    - @event.coaches.each do |coach|
      %tr
        %td= link_to coach.name, [:admin, coach]

- if @event.registrations.any?
  %h3 Applications
  %table.table.table-striped
    %thead
      %th #
      %th Name
      %th Email
      %th View

      %tbody
        - @event.registrations.each_with_index do |registration, index|
          %tr
            %td= index+1
            %td= registration.name
            %td
              =mail_to registration.email, registration.email
            %td
              =link_to "Show", admin_event_registration_path(@event, registration)

= link_to 'Edit', edit_admin_event_path(@event)
\|
= link_to 'Back', admin_events_path
