
%h3{style: "border-bottom: 1px solid #E5E5E5; padding-bottom: 10px; margin-bottom: 15px; font-size: 26.5px;" }
  Hi #{@registration.first_name},

.content
  .left.inline{style: "width: 65%; min-width: 260px; display: inline-block;"}
    %p.lead{style: "font-size: 18px;"}
      We would like to invite you to our next Weekly meeting that will take place on
      %strong #{I18n.l(@meeting.date, format: :email)}

    %p.lead{style: "font-size: 18px;"}
      %strong
        Please
        =link_to "confirm your attendance ", full_url_for(invitation_url(@invitation)), style: "color: #E0330C; text-decoration: none; border-bottom: 1px dotted #E0330C; "
        as we have limited space.

    %h2{ style: "font-weight: normal;" } Location:
    %address{style: "font-size: 18px"}
      =link_to @meeting.host_name, @meeting.host_website, style: "color: #E0330C; text-decoration: none; border-bottom: 1px dotted #E0330C; "
      %br
      #{@meeting.address_line_1}<br/>
      #{@meeting.address_line_2}<br/>
      #{@meeting.address_city}, #{@meeting.address_postcode}<br/>

    %br
    %p.lead{ style: "font-size: 15px'" }
      If you have any trouble finding the venue, or have any other queries about the meeting,  please do not hesitate to contact the meeting organisers.
      %br
      %br

      - @meeting.organisers.each do |organiser|
        #{organiser.name}
        %strong #{organiser.phone_number}
        %br

    %p{ style: "color: #E0330C"}We'd love it if you could come!

    %hr

    %p.lead{style: "font-size: 18px;"}
      Rails Girls Weeklies are Q&amp;A style sessions, aimed at people who have previously attended a Rails Girls workshop, or have some experience with Ruby and Rails.

    %p.lead{style: "font-size: 18px;"}
      Our coaches will be around to answer any questions you have about Ruby and Rails, and even pair with you if you need some help! You'll also have the opportunity to catch up with your fellow Rails Girls peers.

  .right.inline{ style: "width: 24%; min-width: 150px; vertical-align: top;  padding: 0 0 0 50px; display: inline-block;" }
    %p.lead{style: "font-size: 18px;"}
      =image_tag attachments['london-girl.png'].url, width: '180px'
      %div
        %highlight{ style: "color: #E0330c" }You learn
        designing, prototyping and coding with the help of our coaches.

