%p#notice= notice
%legend
  %h3
    =@meeting.name
    %small=I18n.l(@meeting.date)

.row
  .span7
    %p.lead= @meeting.description

=render partial: "admin/shared/sponsors", locals: { sponsorable: @meeting }

=render partial: "admin/shared/coaches", locals:  { coachable: @meeting } if @meeting.coachable


= link_to "#{@city.name} dashboard", [:admin, @city, @meetings_path]
\|
= link_to 'Edit', edit_admin_city_meeting_path(@city, @meeting)
