.application-received.main-content
  .container.separator
    %h1.header-blurb
      Thank you for applying for the Rails Girls London Workshop on the
      = @event.dates
  .container.separator
    .content
      %h3
        Hi
        #{@registration.first_name},

      %p
        We received your application, and we will be reviewing it soon.

        %br
        You can view details about the workshop
        = link_to 'here', event_url(@event)
        or
        = link_to slack_invite_url, target: :_blank do
          join us on Slack.

      %p
        %strong
          We will be sending out confirmation emails
          to successful applicants on the #{invites_to_be_sent_date(@event)}.
        %br

      .signature
        %p Rails Girls London team :)
        = render 'shared/mailers/social_media'


.container.separator
  = render 'shared/mailers/sponsors'

.container.separator
  %p.important-info
    Important:
    %br
    Once you receive the invitation, you are requested to confirm your participation within 3 days of receiving the invitation.
    %br
    If you can no longer make it we kindly ask you to set your status to 'not attending' so we can offer your place to the next person on the waiting list.
