%h3 Student application form
%h5
  IMPORTANT NOTICE:
  %br
  First round of accepted students will receive emails on #{I18n.l(@event.registration_deadline-36.days)}, please confirm your place as soon as you see the invite, the invite will expire in 3 days.
  %br
  If you apply after #{I18n.l(@event.registration_deadline-36.days)}, you should expect your invite by #{I18n.l(@event.registration_deadline+1.day)}.
  We are trying really hard to fit everyone in, but unfortunatelly we have limited amount of places, so if you dont receive the invite, you will be placed on the waiting list. We will be in touch if a place becomes available.

= render 'layouts/messages'
= simple_form_for @registration, url: event_registrations_path(@event, anchor: 'apply-student'), html: { class: 'form-horizontal' } do |f|
  .flex--container
    .flex--item.padding-right
      = f.input :first_name, required: true, input_html: {class: "form--item"}
      = f.input :last_name, required: true, input_html: {class: "form--item"}
      = f.input :email, required: true, input_html: {class: "form-control"}
      = f.input :phone_number, required: true, input_html: {class: "form-control"}
      = f.input :twitter, input_html: {class: "form-control"}, placeholder: "e.g. @emma_jonson"

    .flex--item
      = f.input :gender, required: true, collection: [ "Female", "Male", "Other", "I prefer not to say" ], prompt: "Select your gender"
      %hr
      = f.input :address, required: true, input_html: { class: "form-control"}, placeholder: "eg. 3/4, 5 Oxford Crescent, W2 7FD"
      = f.input :uk_resident, collection: [ "Yes", "No" ], prompt: "Select option", input_html: {class: "form-control"}, label: "UK Resident"
      %hr

  .flex--container
    .flex--item.padding-right
      = f.input :reason_for_applying, required: true, input_html: {rows: 7, class: "form-control"}, label: "Why are you applying?", placeholder: "Please write a couple of words on why you want to learn to code"
      = f.input :programming_experience, input_html: {rows: 3, class: "form-control"}
      = f.input :os, collection: [ "OS X", "Windows", "Linux" ], prompt: "Select operating system", input_html: {class: "form-control"}, label: "Operating System"
  
    .flex--item
      = f.input :how_did_you_hear_about_us, input_html: {rows: 3, class: "form-control"}, label: "How did you hear about us?"
      = f.input :spoken_languages, input_html: {class: "form-control"}, placeholder: "eg. English, Spanish"

  .flex--container
    .flex--item
      = f.input :dietary_restrictions, input_html: {rows: 3, class: "form-control"}, label: "What are your dietary restrictions (if any)?"

  .flex--container.align-left
    %div
      %small
        %strong Terms of service

        %ul.unstyled
          %li We never share your information with anyone.
          %li Women of all ages are welcome. If you are under 18, you will need to be accompanied by an adult. (Please advise us if this is the case)
          %li In order to ensure a fair process for all applicants, we kindly ask you to submit only one application per event.
          %li We expect a great demand for our workshop and would like to make sure all available spaces are filled. If you receive an invitation, we ask that you confirm your attendance within a few days of it being sent out. If, for any reason, you cannot attend, then please let us know as soon as possible and we will allocate your place to the next person on the waiting list.
          %li We also ask that you set aside time for all of the events that make up the workshop, including the Installation Party and the Afterparty. We want to get to know you!


    .checkbox-wrapper
      = f.input :terms_of_service, as: :boolean, wrapper: :checkbox_inline, label: 'I have read the terms of service'

    = f.button :button, 'Apply', class: "btn btn-primary btn-lg btn-hero btn__full-width", data: { disable_with: "Please wait..." }
