%h2 Register for Rails Girls #{@city.name}
%hr
= simple_form_for @registration, url: city_event_registrations_path(@city, @event), html: { class: 'form-horizontal' } do |f|
  = f.input :first_name, input_html: {class: "span3"}
  = f.input :last_name, input_html: {class: "span3"}
  = f.input :gender, collection: [ "Female", "Male" ], prompt: "Select your gender", input_html: {class: "span3"}
  %hr
  = f.input :email, input_html: {class: "span3"}
  = f.input :phone_number, input_html: {class: "span3"}

  = f.input :twitter, input_html: {class: "span3"}
  = f.input :address, input_html: { class: "span3"}, placeholder: "eg. 3/4, 5 Oxford Crescent, W2 7FD"
  %hr

  = f.input :spoken_languages, input_html: {class: "span3"}, placeholder: "eg. English, Spanish"
  = f.input :preferred_language, input_html: {class: "span3"}
  = f.input :uk_resident, collection: [ "Yes", "No" ], prompt: "Select option", input_html: {class: "span3"}, label: "UK Resident"

  %hr
  = f.input :os, collection: [ "OS X", "Windows", "Linux" ], prompt: "Select operating system", input_html: {class: "span3"}, label: "Operating System"
  = f.input :os_version, input_html: {class: "span3"}, placeholder: "e.g. 10.8 or Windows 7 or Ubuntu 12.04", label: "OS Version"
  = f.input :programming_experience, input_html: {rows: 3, class: "span5"}
  = f.input :reason_for_applying, input_html: {rows: 3, class: "span5"}

  .form-actions
    = f.submit "Register", class: "btn btn-large"
