- if not_coaching.any?
  %legend Not coaching
  %ul.unstyled
    - not_coaching.each do |coachable|
      %li.row
        .span6
          =link_to [:admin, coachable.city, coachable] do
            =coachable.to_s.html_safe
        .span1
          = simple_form_for [:admin, Coaching.new] do |f|
            = f.hidden_field :coachable_type, value: coachable.class.name.humanize
            = f.hidden_field :coachable_id, value: coachable.id
            = f.hidden_field :coach_id, value: coach.id
            = f.submit "Coach", class: "btn btn-link"
