- content_for :main_class, 'home'

%section.splash.hero-banner
  .container
    .hero-info
      - if @next_event.present?
        %h1
          Next Event:
          %span= @next_event.dates
        .application-btn
          - if @next_event.accepting_registrations? && @next_event.registrations_open?
            = link_to "View more details & apply", event_path(@next_event), class: "btn btn-primary btn-lg btn-hero"
          - else
            = link_to "View more details", event_path(@next_event), class: "btn btn-primary btn-lg btn-hero"
      - else
        %h1
          Next workshop:
        %h2
          Autumn 2020

= render 'about_us'

= render "events/next_event"
= render "events/past"

= render "sponsor/info"
= render partial: "shared/sponsors", locals: { sponsors: @sponsors}
