%section.separator
  .container
    %h1.block-title
      Next Rails Girls London Event

%section.separator.next-event
  .container.flex--container
    .flex--item.grid-gutter.pull-left
      - if @next_event
        .flex--container.next-event-details--container
          .flex--item.next-event-dates
            %h1
              = @next_event.dates
          .flex--item.next-event-host
            - if @next_event.host&.image_url
              %h3
                = "#{@next_event.host.name } offices, #{@next_event.host.address_city}"
              = image_tag(@next_event.host&.image_url, class: 'host-logo')
            - else
              = image_tag("london-girl.png")
        .flex--container
          .flex--item.gutter-right
            %h5
              What you need:
            %p
              Your own laptop, curiosity and a sprinkle of imagination.

          .flex--item.gutter-right
            %h5
              What you learn:
            %p
              Designing, prototyping and coding with the help of our coaches.

        %div
          %p.gutter-right
            Join us for the upcoming Rails Girls London event. A free 1.5-day workshop where participants will discover the exciting world of web development through Ruby on Rails.
            With the help and guidance of our experienced coaches, attendees will create a real web application in a fun and relaxed atmosphere.
          = link_to "Apply as a student", event_path(@next_event), class: "btn btn-primary btn-lg btn-hero"
        %div
          %p.gutter-right
            We are also always looking for coaches. You dont need to have any previous teaching experience, we'll show you everything you need to know.
          = mail_to 'railsgirlslondon@gmail.com', 'Apply as a coach', subject: "I want to coach @ Rails Girls London #{@next_event.dates}", body: 'My name is ___________ <br><br> My twitter is ___________ <br><br> My phone number is ___________ <br> <br> I would love to coach because ___________', class: 'btn btn-orange'
      - else
        %h1 Stay tuned!
        %p
          We run events roughly every six months.
        %p
          Follow us on
          %a{ href: "http://www.twitter.com/#{city_twitter}" } Twitter
          or
          %a{ href: "http://www.facebook.com/#{city_facebook}" } Facebook
          or join us on
          = link_to "Slack channel", "http://slack.railsgirls.london"
          to get notified when we open registration for our next event.

    %aside.flex--item#contact
      = render 'events/sidebar'
