%h3 Got a question?
%p 
  We are always happy to answer it!
  %br
  We have multiple channels and many awesome people to help you. 

%h4 Join Rails Girls London on:

.sidebar--info-item
  = mail_to "railsgirlslondon@gmail.com", target: :_blank do
    = image_tag "social_media_icons/email.svg"
    %span Email

.sidebar--info-item
  = link_to "http://slack.railsgirls.london/", target: :_blank do
    = image_tag "social_media_icons/slack.png"
    %span Slack

.sidebar--info-item
  = link_to "http://facebook.com/railsgirlslondon", target: :_blank  do
    = image_tag "social_media_icons/facebook.svg"
    %span Facebook

.sidebar--info-item
  = link_to "http://twitter.com/railsgirls_ldn", target: :_blank do
    = image_tag "social_media_icons/twitter.svg"
    %span Twitter

.sidebar--info-item
  = link_to "https://www.instagram.com/rails_girls_london", target: :_blank do
    = image_tag "social_media_icons/instagram.svg"
    %span Instagram

.sidebar--info-item
  = link_to "https://www.linkedin.com/company/11157516", target: :_blank do
    = image_tag "social_media_icons/linkedin.svg"
    %span Linkedin

.sidebar--info-item
  = link_to "https://github.com/railsgirlslondon/railsgirls-london", target: :_blank do
    = image_tag "social_media_icons/github.svg"
    %span Github
