
.section.separator.title
  .container
    .row
      .col-md-12
        #events
          %h1
            Next Rails Girls London Event:

.section.separator
  .container
    .row
      .col-md-6
        %blockquote
          %h1
            = @upcoming_event.first.dates

        %p
          Join us for our next Rails Girls London event: a free 1.5-day workshop where participants will discover the exciting world of web development through Ruby on Rails.
          With the help and guidance of our coaches, attendees will create a real web application in a fun and relaxed atmosphere.
        %br

        .row
          .col-md-6
            %h5
              %b Where:
              %br
              %b
                = "#{@upcoming_event.first.host.name } offices, #{@upcoming_event.first.host.address_city}"

            .thumbnail.no-border
              = image_tag @upcoming_event.first.host.image_url

          .col-md-6
            %h5
              %b
                What you need:
            %p
              You need your own laptop, curiosity and a sprinkle of imagination.
            %br
            %h5
              %b
                What you learn:
            %p
              You learn designing, prototyping and coding with the help of our coaches.



      .col-md-6
        %h1 Want to join?
        .row
          .col-md-6
            = link_to "Apply as a student", event_path(@upcoming_event.first), class: "btn btn-primary btn-lg btn-hero"
          .col-md-6
            %a{ href: "mailto:railsgirlslondon@gmail.com?Subject=I want to coach at the next Rails Girls London event&body=I would love to coach because...", class: "btn btn-primary btn-lg btn-hero" } I want to be a coach
        %br
        .row
          .col-md-12
            = link_to event_path(@upcoming_event.first), class: "thumbnail" do
              = image_tag @upcoming_event.first.image ? @upcoming_event.first.image : "london-profile.svg"
    .row
      .col-md-12
        = link_to "View more details & apply", event_path(@upcoming_event.first), class: "btn btn-primary btn-lg"
