.section
  .splash.event-page
    .container
      %h1
        = @event.dates
        - if @event.accepting_registrations?
          - if @event.registrations_open?
            %br
            = link_to "Apply to the event", new_event_registration_path(@event), class: "btn btn-primary btn-lg"
            %br
            %h4.text-center
              Applications are open until the #{I18n.l(@event.registration_deadline)}
          - else
            Applications are now closed.
        - else
          Applications are not available for this event.


.section.separator.title
  .container
    .row
      .col-md-12
        #about
          %h1
            Event Details:

.section.separator
  .container
    .row
      .col-md-8
        - if @event.has_host?
          :javascript
            $(function() {
              postcode = "##{@event.host.address_postcode}"
            });
          .row
            .col-md-6
              %div{:class => "span5"}
                %div{:id => "map-canvas"}
            .col-md-6
              %strong=link_to @event.host.name, @event.host.website
              %address
                =@event.address_line_1
                %br
                - if @event.address_line_2
                  #{@event.address_line_2}
                  %br
                #{@event.address_city}, #{@event.host.address_postcode}
                - unless @event.host.image_url.blank?
                  = image_tag @event.host.image_url, class: "img-responsive thumbnail no-border"

      .col-md-4
        .row
          = render 'layouts/social_media'
        .row
          = render 'layouts/twitter_snippet'

.section.separator.title
  .container
    .row
      .col-md-12
        %h1
          Sponsors

.section
  .container
    .row
      .col-md-12
        - @event.sponsors.each_slice(4) do |group|
          .row
            - group.each do |sponsor|
              .col-md-3
                = link_to sponsor.website, class: "thumbnail no-border" do
                  = image_tag sponsor.image_url
                %small
                  %strong
                    =link_to "#{sponsor.name} -", sponsor.website  if sponsor.image_url.nil?
                  = sponsor.description
%br

  = render partial: "shared/coaches", locals: { coaches: @event.coaches, title: "Organisers and coaches" }
