%section
  .title=@event.title
  %p.lead
    = @event.description

  -if @event.active
    %div
      - if @event.registration_ends_on and @event.registration_ends_on > Date.today
        = link_to "Apply to the event.", new_city_event_registration_path(@city, @event)
        \-
        %small Applications are open until the #{ I18n.l(@event.registration_ends_on)}
      - else
        Applications are now closed.

      .pull-right
        =render partial: 'shared/tweet_button', locals: { twitter: city_twitter, text: "Rails Girls #{city_name} #{@event.title}. Get excited and make things!" }

  - else
    %div
      %em
        This event has already taken place.
        =link_to "Look here ", city_path(@city)
        for upcoming events.

%hr

%section
  .row
    .span2
      %span.highlight You learn
      designing, prototyping and coding with the help of our coaches.

    .span2
      %span.highlight You need
      your own laptop, curiosity and a sprinkle of imagination.

    .span2
      %span.highlight Want to help?
      We are looking for
      %strong Rails coaches
      %br
      %small
        %a{ href: "https://groups.google.com/forum/?fromgroups#!forum/rails-girls-london-coaches"}Subscribe to our coaches mailing list

=render_event_partial

-if @event.active
  =link_to "View event schedule", "http://railsgirls.com/#{city_slug}"

%section.sponsors
  %h3.underline Sponsors
  .row
    %ul.sponsors.inline
      - @event.sponsors.each do |sponsor|
        %li.span2
          %h5
            = link_to sponsor.website do
              = image_tag sponsor.image_url
          %small
            %strong
              =link_to "#{sponsor.name} -", sponsor.website  if sponsor.image_url.nil?
            = sponsor.description
          %br

%section.coaches
  %h3.underline Organisers and Coaches
  .row
    %ul.coaches.inline
      - @event.coaches.each do |coach|
        %li.span1
          %h5
            = link_to "https://twitter.com/#{coach.twitter}", title: "@#{coach.twitter}" do
              = image_tag "https://api.twitter.com/1/users/profile_image/#{coach.twitter}", class: 'img-circle'
          %small
            %strong
              = coach.name
            = link_to "https://twitter.com/#{coach.twitter}" do
              %small= "@#{coach.twitter}"
          %br
