- content_for :main_class, 'event'

.section
  .splash.event-banner.with-subtitle
    .container
      %h2
        = @event.dates

-# .section.separator
-#   .container
-#     .content-title
-#       %h1.block-title
-#         = @event.dates
-#         - if @event.accepting_registrations?
-#           - if @event.registrations_open?
-#             %br
-#             = link_to "Apply for the event", "#apply-student", id: "apply-student-btn", class: "btn btn-primary btn-lg btn-hero"
-#             %br
-#             %h4.text-center
-#               Applications are open until #{I18n.l(@event.registration_deadline)}
-#           - else
-#             %br
-#             %h4.text-center
-#               Applications are now closed.
-#         - else
-#           Applications are not available for this event.


.section.separator
  .container
    .content-title
      %h1.block-title
        Event Details

.section.separator
  .container
    .content.event-host
      %h3
        Sponsor Host
      .event-host__logo
        = image_tag @event.host.image_url
      .event-host__name
        = link_to "#{@event.host.name} #{@event.host.website}", @event.host.website
      .event-host__map
        = hidden_field_tag 'address', @event.host.address_postcode
        %div{id: 'map-canvas'}
      .event-host__address
        %address
          Address:
          =@event.address_line_1
          - if @event.address_line_2.present?
            "#{@event.address_line_2}"
          "#{@event.address_city},"
          "#{@event.host.address_postcode}"


        -# = link_to "http://slack.railsgirls.london/", class: "slack slack-event-details" do
        -#   = image_tag "slack.png"
        -#   Join Rails Girls London on Slack


    = render 'timetable'

    -# = render 'layouts/twitter_snippet'

= render 'sponsors'


= render partial: "shared/coaches", locals: { coaches: @event.coaches.who_attended, title: "Organisers and coaches" }

- if @event.registrations_open?
  .section
    .container
      %h1
        Apply now

  .section
    .container
      = render "registrations/student_form"
