- content_for :main_class, 'event'

%section.splash
  .splash-info
    %h1
      = @event.dates
    - if @event.accepting_registrations?
      - if @event.registrations_open?
        .btn-block
          = link_to "Apply for the event", "#apply-student", id: "apply-student-btn", class: "btn btn-primary btn-lg btn-hero"
          %h4
            Applications are open until #{I18n.l(@event.registration_deadline)}
      - else
        %h4
          Applications are now closed.
    - else
      Applications are not available for this event.

%section.separator
  .container
    %h1.block-title
      Event Details

%section.separator
  .container.flex--container__column
    .event--container.flex--container.flex--item
      .event-host--block.flex--item
        .event-host
          %h3
            Sponsor host
        .event-host--blurb
          The venue for Rails Girls London
          %br
          #{@event.dates}
          %br
          is kindly provided by
          %br
          #{@event.host.name}.
        .event-host__logo
          = image_tag @event.host.image_url
        .event-host__address
          %address
            Venue address:
            %br
            %b
              #{@event.address_line_1},
              - if @event.address_line_2.present?
                #{@event.address_line_2},
              #{@event.address_city},
              #{@event.host.address_postcode}
        .event-host__url
          %a{ href: "http://#{@event.host.website}" } 
            = @event.host.website
        .event-host__map
          = hidden_field_tag 'address', @event.host.address_postcode
          %div{id: 'map-canvas'}
      .event-description--block.flex--item
        = render 'events/workshop_description'
      .event-contacts.flex--item
        = render 'events/sidebar'

    .timetable--container.flex--container#timetable--anchor
      = render 'events/timetable'

= render partial: "shared/sponsors", locals: { sponsors: @event.sponsors.shuffle }

= render partial: "shared/coaches", locals: { coaches: @event.coaches.who_attended, title: "Organisers and coaches" }

- if @event.registrations_open?
  %section.separator
    .container
      %h1.block-title
        Join us at the event

  %section#apply-student
    .container.flex--container
      .student-form.flex--item
        = render "registrations/student_form"
      .useful-info.flex--item
        = render "events/other_info"
