%section
  %h1.title.highlight=@event.title if @event.title
  %blockquote
    %p.lead=@event.dates
  .details
    %p.description
      = @event.description

  -if @event.active
    %div
      - if @event.accepting_registrations?
        - if @event.registrations_open?
          .mini= link_to "Apply to the event.", new_city_event_registration_path(@city, @event)
          \-
          %small Applications are open until the #{I18n.l(@event.registration_deadline)}
        - else
          Applications are now closed.
      - else
        Applications are not available for this event.

      .pull-right
        =render partial: 'shared/tweet_button', locals: { twitter: city_twitter, text: "Rails Girls #{city_name} #{@event.title}. Get excited and make things!" }

  - else
    %div
      %em
        This event has already taken place.
        =link_to "Look here ", city_path(@city)
        for upcoming events.

-if @event.active?
  .viewschedule
    =link_to "View event schedule", "http://railsgirls.com/#{city_slug}"

%hr

%section
  .row
    .span2
      %span.highlight.bolder You learn
      designing, prototyping and coding with the help of our coaches.

    .span2
      %span.highlight.bolder You need
      your own laptop, curiosity and a sprinkle of imagination.

    .span3
      %span.highlight.bolder Want to help?
      We are looking for
      %strong Rails coaches.
      %small
        - if @city.coaches_mailing_list
          = link_to "Subscribe to our coaches mailing list!", @city.coaches_mailing_list
        - else
          = mail_to @city.email, "Send us an email if your would like to get involved!",
                                  subject: "Getting involved with Rails Girls #{@city.name}"

=render_event_partial

- if @event.has_host?
  %hr
    .row
      -if @event.host.map_url
        %iframe.span5{ frameBorder:'0', height: 300, src: @event.host.map_url }
      .span2
        %strong=link_to @event.host.name, @event.host.website
        %address
          =@event.address_line_1
          %br
          - if @event.address_line_2
            #{@event.address_line_2}
            %br
          #{@event.address_city}, #{@event.host.address_postcode}
          - unless @event.host.image_url.blank?
            %br
            %br
            = image_tag @event.host.image_url

%br
%section.sponsors
  %legend Sponsors
  .row
    %ul.sponsors.inline
      - @event.non_hosting_sponsors.each do |sponsor|
        %li.span2
          %h5
            = link_to sponsor.website do
              = image_tag sponsor.image_url
          %small
            %strong
              =link_to "#{sponsor.name} -", sponsor.website  if sponsor.image_url.nil?
            = sponsor.description
          %br

= render partial: "shared/coaches", locals: { coaches: @event.coaches, title: "Organisers and coaches" }
