=render partial: "#{@event.city.slug}#{@event.id}" rescue ""

%h3.underline Sponsors
.row
  .span7
    %ul.sponsors.inline
      - @event.sponsors.each do |sponsor|
        %li.span2
          %h5
            = link_to sponsor.website do
              = image_tag sponsor.image_url
          %small
            %strong
              =link_to "#{sponsor.name} -"  if sponsor.image_url.nil?
            = sponsor.description
          %br

%h3.underline Organisers and Coaches
.row
  .span7
    %ul.coaches.inline
      - @event.coaches.each do |coach|
        %li.span1
          %h5
            = link_to "https://twitter.com/#{coach.twitter}", title: "@#{coach.twitter}" do
              = image_tag "https://api.twitter.com/1/users/profile_image/#{coach.twitter}", class: 'img-circle'
          %small
            %strong
            = coach.name
            = link_to "https://twitter.com/#{coach.twitter}" do
              %small= "@#{coach.twitter}"
          %br
