%h2 Sponsors

%table.table
  %tr
    %th Name
    %th Primary contact email
    %th
    %th

  - @sponsors.each do |sponsor|
    %tr

      %td= link_to sponsor.name, [:admin, sponsor]
      %td= sponsor.primary_contact_email
      %td= link_to 'Edit', edit_admin_sponsor_path(sponsor), class: "btn"
      %td= link_to 'Destroy', [:admin, sponsor], class: 'btn', :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Add Sponsor', new_admin_sponsor_path
