%h1 Listing sponsors

%table.table
  %tr
    %th Name
    %th Primary contact email
    %th
    %th
    %th

  - @sponsors.each do |sponsor|
    %tr
      %td= sponsor.name
      %td= sponsor.primary_contact_email
      %td= link_to 'Show', [:admin, sponsor]
      %td= link_to 'Edit', edit_admin_sponsor_path(sponsor)
      %td= link_to 'Destroy', [:admin, sponsor], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sponsor', new_admin_sponsor_path
