%legend
  %h3
    = @sponsor.name
    .pull-right= link_to 'Edit', edit_admin_sponsor_path(@sponsor), class: 'btn'

.row
  .span5
    %p.lead
      = @sponsor.description
  .span2
    = image_tag (@sponsor.company_logo.present? ? @sponsor.company_logo : @sponsor.image_url)

- unless @sponsor.primary_contact_email.blank?
  .row
    .span3
      %strong Email
      =mail_to @sponsor.primary_contact_email, @sponsor.primary_contact_email

%br

.row
  .span3
    - if @sponsor.has_full_address?
      %strong Address
      %address
        =@sponsor.address_line_1
        %br
        #{@sponsor.address_line_2}
        %br
        #{@sponsor.address_city}, #{@sponsor.address_postcode}

- if @sponsorships.any?
  =render partial: "admin/shared/sponsorships", locals: { sponsorships: @sponsorships }

- if @non_sponsored.any?
  =render partial: "admin/shared/non_sponsorships", locals: { non_sponsored: @non_sponsored }

- if @non_sponsored_meetups.any?
  =render partial: "admin/shared/non_sponsorships", locals: { non_sponsored: @non_sponsored_meetups }

= link_to 'Back', admin_sponsors_path
