%h2 Sponsor
%p
  %b Name:
  = @sponsor.name

%p
  %b Primary contact email:
  = @sponsor.primary_contact_email

%p
  %b Description:
  = @sponsor.description

%p
  %b Address line 1:
  = @sponsor.address_line_1

%p
  %b Address line 2:
  = @sponsor.address_line_2
%p
  %b City:
  = @sponsor.address_city
%p
  %b Postcode:
  = @sponsor.address_postcode


- if @sponsor.events.any?
  %h3 Sponsoring
  %table.table
    - @sponsor.events.each do |event|
      %tr
        %td= link_to event.description, [:admin, event]
        %td= @sponsor.is_host_for?(event) ? "Hosting" : ""

= link_to 'Edit', edit_admin_sponsor_path(@sponsor)
\|
= link_to 'Back', admin_sponsors_path
