%p#notice= notice

%h2 Sponsor
%p
  %b Name:
  = @sponsor.name

%p
  %b Primary contact email:
  = @sponsor.primary_contact_email

%p
  %b Description:
  = @sponsor.description

- if @sponsor.events.any?
  %h3 Events Sponsoring
  %table.table
    - @sponsor.events.each do |event|
      %tr
        %td= link_to event.description, [:admin, event]

= link_to 'Edit', edit_admin_sponsor_path(@sponsor)
\|
= link_to 'Back', admin_sponsors_path
