- content_for :main_class, 'event-coach-registration'
- content_for :timestamp_media_metatags do
  %meta{property: 'article:published_time', content: @event.created_at}
  %meta{property: 'article:modified_time',  content: @event.updated_at}

%section.splash
  .splash-info
    %h1
      = @event.dates
    - if @event.accepting_registrations?
      - if @event.registrations_open?
        .btn-block
          %h4
            Applications are open until #{I18n.l(@event.registration_deadline)}
      - else
        %h4
          Applications are now closed.
    - else
      Applications are not available for this event.

%section.separator
  .container
    %h1.block-title
      Coach Application.

%section.separator
  .container.flex--container__column
    .event--container.flex--container.flex--item
      .event-host--block.flex--item
        .event-host
          %h3
            Sponsor host
        .event-host--blurb
          The venue for Rails Girls London
          %br
          #{@event.dates}
          %br
          is kindly provided by
          %br
          #{@event.host.name}.
        .event-host__logo
          = image_tag @event.host.company_logo
        .event-host__address
          %address
            Venue address:
            %br
            %b
              #{@event.address_line_1},
              - if @event.address_line_2.present?
                #{@event.address_line_2},
              #{@event.address_city},
              #{@event.host.address_postcode}
        .event-host__url
          %a{ href: "#{@event.host.website}", target: :_blank } 
            = @event.host.website
        .event-host__map
          = hidden_field_tag 'address', @event.host.address_postcode
          %div{id: 'map-canvas'}
        = render partial: "shared/sponsors", locals: { sponsors: @event.sponsors.shuffle }
      .event-description--block.flex--item
        - if @event.registrations_open?
          %section.separator
            .container
              %h1.block-title
                Volunteer as a coach for Rails Girls London.

          %section#apply-student
            .container.flex--container
              .student-form.flex--item
                = render partial: "coach_form"

                = link_to "Back to event", event_path(@event)

      .event-contacts.flex--item
        = render "other_info_for_coaches"


= render partial: "shared/coaches", locals: { coaches: @event.coaches.who_attended, title: "Organisers and coaches" }
