%h2.mailer--separator
  A couple of words from our sponsors:

%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Simply Business
      %td{align: 'right'}
        = image_tag @event.sponsors.find_by(name: "Simply Business").image_url, class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        Simply Business would like to thank every single person who attended Rails Girls London at our London offices this weekend. The Simply Business tech team had an incredible 2 days teaching all of our wonderful students who joined us for this event. A huge thank you to all of the Rails Girls London organisers who made the event a phenomenal success. We were proud to host Rails Girls London at Simply Business who strive to improve diversity in the industry by making technology more approachable for women.
        %a{href: "https://sbtech.simplybusiness.co.uk/home/"}
          sbtech.simplybusiness.co.uk/home


%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Smart Pension
      %td{align: 'right'}
        = image_tag @event.sponsors.find_by(name: "Smart Pension").image_url, class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        Brad, from Smart Pension here.
        %br
        Well, that was just a little bit special, wasn't it?  It was both incredible and awesome to be part of such an amazing group of people, both coaches and students. One of my big joys with being in programming is that Engineers have a passion for learning and like to share that knowledge with others!
        %br
        Looking forward to next time, thanks for everyone who made it happen (and Lexie also massively enjoyed herself and learnt a lot)!
        %br
        If you've got any questions about Smart Pension, or anything in general, you can reach me on:
        %a{href: 'mailto:brad.jayakody@smartpension.co.uk?Subject:Rails%20Girls%20London'}
          brad.jayakody@smartpension.co.uk
        or via 
        %a{href: 'https://www.linkedin.com/in/bradjayakody/'}
          www.linkedin.com/in/bradjayakody

        %br
        %a{href: "https://www.autoenrolment.co.uk/"}
          www.autoenrolment.co.uk


%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Bloom & Wild
      %td{align: 'right'}
        = image_tag @event.sponsors.find_by(name: "Bloom & Wild").image_url, class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        Hello, Steve from Bloom & Wild here 💐
        %br
        It was great to sponsor and coach at Rails Girls London again this year. What a fabulous and inspiring event to be a part of and we were blown away seeing all of you learning to code. Hopefully you all got as much out of the day as we did and are thinking about software development careers! We’re hiring at the moment and would love to chat to you about what working at the UK's most-loved online florist is like.
        %br
        You can see our open roles here:
        %br
        %a{href: "https://www.bloomandwild.com/careers"}
          www.bloomandwild.com/careers


%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          FreeAgent
      %td{align: 'right'}
        = image_tag @event.sponsors.find_by(name: "FreeAgent").image_url, class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        Hi everyone,
        %br
        The FreeAgent team were delighted to support Rails Girls London this year!
        Congratulations to everyone who took part – it was a terrific event and Olly, Iain, Dominic and Karen had such a great time as coaches!
        %br
        We're always on the lookout for new talent to join our engineering team, either in our Edinburgh office or remotely from your home across the UK! If you’re thinking about a new role, please take a look at our website at
        %a{href: "https://www.freeagent.com/?utm_campaign=railsgirls2019&utm_source=rails_girls_london&utm_medium=email&utm_term=rails_girls_email&utm_content=rails_girls_london"}
          freeagent.com
        and also our 
        %a{href: "https://www.glassdoor.co.uk/Reviews/FreeAgent-Reviews-E1000920.htm"}
          Glassdoor page
        to get more information. You can also drop us a line at 
        %a{href: 'mailto:jobs@freeagent.com?Subject=Rails%20Girls%20London'}
          jobs@freeagent.com
        to find out more.
        We’d like to wish everyone all the best in the future and maybe we’ll see you again next year!
        %br
        Team FreeAgent
        %br
        %a{href: "https://www.freeagent.com/careers/?utm_campaign=railsgirls2019&utm_source=rails_girls_london&utm_medium=email&utm_term=rails_girls_email_careers&utm_content=rails_girls_london_careers"}
          www.freeagent.com/careers


%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Carwow
      %td{align: 'right'}
        = image_tag @event.sponsors.find_by(name: "Carwow").image_url, class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        Carwow would like to thank all the organisers, sponsors, coaches and most importantly the attendees for this weekend’s Rails Girls London. We are proud to sponsor the event again as it is such a fantastic way to learn more about programming and make connections with like-minded people. We hope everyone had a great time and if you are interested in a career at Carwow, check us out at:
        %br
        %a{href: "https://www.carwow.co.uk/jobs"}
          www.carwow.co.uk/jobs


%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Cookpad
      %td{align: 'right'}
        = image_tag @event.sponsors.find_by(name: "Cookpad").image_url, class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        It was a thrill for Cookpad to be able to support and sponsor Rails Girls London again this year, and yet again it was incredible and inspiring to be involved in the event on the day with you all.

        %br
        As the world's largest recipe sharing network - with 100 million average users every month - our mission is simply to "make everyday cooking fun". As the Cookpad engineering team we strive to make everyday CODING fun too, so if you'd like to hear more about the team we're  building in Bristol, UK and visit our stunning open kitchens and offices drop us an email at 
        %a{href: 'mailto:uk-careers@cookpad.com?Subject=Rails%20Girls%20London'}
          uk-careers@cookpad.com
        or check out our 
        %a{href: "https://twitter.com/cookpad_dev"}
          twitter.com/cookpad_dev
        or tech blog at 
        %a{href: "https://sourcediving.com"}
          sourcediving.com.
        %br
        %a{href: "https://cookpad.com/uk"}
          cookpad.com/uk

        %br
        Lastly as a quick plug, we'd love to welcome any of you to Rails Girls Bristol that we are hosting at Cookpad in a few weeks time on 29th and 30th of November.
        %br
        Sign up here to attend:
        %br
        %a{href: "http://railsgirls.com/bristol-november-2019.html"}
          railsgirls.com/bristol-november-2019.html


