.social-media--block
  .social-media--item
    = link_to slack_invite_url, target: :_blank do
      = image_tag "slack_.png"

  .social-media--item
    = link_to "http://facebook.com/railsgirlslondon", target: :_blank  do
      = image_tag "facebook_.png"

  .social-media--item
    = link_to "http://twitter.com/railsgirls_ldn", target: :_blank do
      = image_tag "twitter_.png"

  .social-media--item
    = link_to "https://www.instagram.com/rails_girls_london", target: :_blank do
      = image_tag "instagram.png"
