.social-media--block
  .social-media--item
    = link_to "http://slack.railsgirls.london/", target: :_blank do
      = image_url_for "social_media/slack.png"

  .social-media--item
    = link_to "http://facebook.com/railsgirlslondon", target: :_blank  do
      = image_url_for "social_media/facebook.png"

  .social-media--item
    = link_to "http://twitter.com/railsgirls_ldn", target: :_blank do
      = image_url_for "social_media/twitter.png"

  .social-media--item
    = link_to "https://www.instagram.com/rails_girls_london", target: :_blank do
      = image_url_for "social_media/instagram.png"
