%h2.mailer--separator
  A couple of words from our sponsors:

%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Simply Business
      %td{align: 'right'}
        = image_tag @event.sponsors.find_by(name: "Simply Business").image_url, class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        %p
          Simply Business is the definition of a challenger brand. As Vice Chairman Jason Stockwood puts it, we are a technology company who happen to sell insurance.
          Insurance is the product and at Simply Business we are obsessed with making the process of finding it as simple as possible for small-medium businesses (SMEs), without compromising on choice, quality or cost. SMEs account for 99% of all UK businesses with a combined annual turnover of £1.9 trillion.
          %br
          We've created a unique, digital marketplace for small business insurance, challenging a traditional industry on behalf of over 600,000 customers and going from startup to half-billion dollar company in just over a decade.
          %br
          Simply Business technology is famed for harnessing cutting-edge data ability, our belief in experimentation, learning to fail, and building our own technology to deliver better experiences for customers and employees.
          %br
          Our applications are built using Ruby and Ruby on Rails, React, Redux, Javascript, Python, and Scala, with some others in the mix.
          They sit on top of different databases like MongoDB, Redis, MySQL, and testing frameworks like RSpec, Jasmine, and Jest. Glueing all this together, we rely on Kafka, Puppet, and AWS, among others.
          Our people work in offices in London, Northampton and Boston, USA (and every remote or smart-working desk in-between) and are united by our mission - to create something better, to support the success of small businesses, to enable our people to thrive and have a positive impact on the world.
          In 2017, Simply Business earned the right to Benefit Corporation (B Corp) status. This recognises our strong track record of having a positive impact on people, society and the environment. Having also won back-to-back awards as the Sunday Times Best Company to work, we continue to look for ways to improve - right now we are focusing on employee mental health, customer empowerment and charitable activities.
          Simply Business parties are famous. In fact, we’re just back from a two-day company awards holiday in Paris (last year it was Barcelona). But more so is our passion for building technology which is as innovative today as it will be reliable tomorrow, enabling the world’s best commercial insurance experience.
          %br
          Want to find out more?
          %br
          Find us on
          %a{href: "https://sbtech.simplybusiness.co.uk/home/"}
            https://sbtech.simplybusiness.co.uk/home/



%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Smart Pension
      %td{align: 'right'}
        = image_tag @event.sponsors.find_by(name: "Smart Pension").image_url, class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        %p
          We are a technology led company, working in an industry that previously didn't welcome technology.  While our competitors may take months to ship new code, with our TDD approach and focus on quality, we are continuously shipping new features, over 20 times a day!

          %br
          We believe that a diverse and inclusive workforce, is the most awesome workforce and we work in a collaborative team environment with all members treated equally, no matter their seniority, when it comes to reviewing PR’s and building software.
          %a{href: "https://www.autoenrolment.co.uk/"}
            https://www.autoenrolment.co.uk/


%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Bloom & Wild
      %td{align: 'right'}
        = image_tag @event.sponsors.find_by(name: "Bloom & Wild").image_url, class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        %p
          Hello, Ella from Bloom & Wild here 💐

          %br
          We're so excited to be sponsoring Rails Girls again. It's a fabulous event and we're blown away each year seeing 200+ women learning to code. So inspiring!

          %br
          See you at the weekend 👋

          %br
          %a{href: "https://www.bloomandwild.com/"}
            https://www.bloomandwild.com/


%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          FreeAgent
      %td{align: 'right'}
        = image_tag @event.sponsors.find_by(name: "FreeAgent").image_url, class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        %p
          Whether you’re an experienced coder or you’re just getting started, be sure to look out for Edinburgh-based accounting software company FreeAgent at Rails Girls London this year. Olly, Iain, Dominic and Karen from the FreeAgent team are a friendly bunch and are excited to be talking about Ruby, sharing their knowledge and meeting some new faces at this year’s event.

          %br
          As well as pursuing their mission of putting small businesses in control of their finances, the FreeAgent team go above and beyond to make the company a great place to work - just take a look at their 
          %a{href: "https://www.glassdoor.co.uk/Reviews/FreeAgent-Reviews-E1000920.htm"}
            Glassdoor reviews
          to see for yourself!

          %br
          See you at the event!

          %br
          %a{href: "https://www.freeagent.com/"}
            https://www.freeagent.com/

%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Carwow
      %td{align: 'right'}
        = image_tag @event.sponsors.find_by(name: "Carwow").image_url, class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        %p
          Carwow are proud to sponsor Rails Girls London again and a bunch of our team are going to be there as coaches helping to inspire the next generation! We strongly believe that more diverse teams lead to better products and we hope that by supporting Rails Girls London we can help you get a taste for it and go on to pursue software development as a career.
          %br
          Our aim is to make people the most informed and empowered car buyers in the world and you don’t need to be passionate about cars to help us do that - just a passion for building an amazing product and solving interesting technical challenges! Come and speak to us to find out more about the work we do!

          %br
          %a{href: "https://www.carwow.co.uk/"}
            https://www.carwow.co.uk/


%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Cookpad
      %td{align: 'right'}
        = image_tag @event.sponsors.find_by(name: "Cookpad").image_url, class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        %p
          Our mission is to improve people’s lives by making everyday cooking fun. The more fun it is to cook, the more people can enjoy the benefits to health, family, friendships, environment and sustainability. 

          %br
          Cookpad is the world’s largest recipe sharing platform, where around 100 million users, across 70 countries and 30 languages, come to enjoy cooking each month. 

          %br
          Cookpad loves Ruby. Our global team include Ruby core team members, we are major contributors to the open source community, and we sponsor and present at many major Ruby events around the world.  
          If you want to know more, follow us at 
          %a{href: "https://twitter.com/cookpad_dev"}
            https://twitter.com/cookpad_dev
          or subscribe to our blog at
          %a{href: "https://sourcediving.com"}
            https://sourcediving.com

          %br
          %a{href: "https://cookpad.com/uk"}
            https://cookpad.com/uk


