= simple_form_for([:admin, @event, @registration], html: {class: "form-horizontal"}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :email

  .form-actions
    = f.submit