
= simple_form_for([:admin, @event, @registration], html: {class: "form-horizontal"}) do |f|
  = f.error_notification

  .flex--container
    .flex--item.padding-right
      = f.input :first_name, required: true, input_html: {class: "form--item"}
      = f.input :last_name, required: true, input_html: {class: "form--item"}
      = f.input :email, required: true, input_html: {class: "form-control"}
      = f.input :phone_number, required: true, input_html: {class: "form-control"}
      = f.input :twitter, input_html: {class: "form-control"}, placeholder: "e.g. @emma_jonson"

    .flex--item
      = f.input :gender, required: true, collection: [ "Female", "Male", "Other", "I prefer not to say" ], prompt: "Select your gender"
      %hr
      = f.input :address, required: true, input_html: { class: "form-control"}, placeholder: "eg. 3/4, 5 Oxford Crescent, W2 7FD"
      = f.input :uk_resident, collection: [ "Yes", "No" ], prompt: "Select option", input_html: {class: "form-control"}, label: "UK Resident"
      %hr

  .flex--container
    .flex--item.padding-right
      = f.input :reason_for_applying, required: true, input_html: {rows: 7, class: "form-control"}, label: "Why are you applying?", placeholder: "Please write a couple of words on why you want to learn to code"
      = f.input :programming_experience, input_html: {rows: 3, class: "form-control"}
      = f.input :os, collection: [ "OS X", "Windows", "Linux" ], prompt: "Select operating system", input_html: {class: "form-control"}, label: "Operating System"
  
    .flex--item
      = f.input :how_did_you_hear_about_us, input_html: {rows: 3, class: "form-control"}, label: "How did you hear about us?"
      = f.input :spoken_languages, input_html: {class: "form-control"}, placeholder: "eg. English, Spanish"

  .flex--container
    .flex--item
      = f.input :dietary_restrictions, input_html: {rows: 3, class: "form-control"}, label: "What are your dietary restrictions (if any)?"

  .flex--container.align-left
    .checkbox-wrapper
      = f.input :terms_of_service, as: :boolean, wrapper: :checkbox_inline, label: 'I have read the terms of service'

    = f.button :button, 'Apply', class: "btn btn-primary btn-lg btn-hero btn__full-width", data: { disable_with: "Please wait..." }
