%legend= "Edit Registration: #{@registration.fullname}"

= simple_form_for([:admin, @event, @registration], html: {class: "form-horizontal"}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :selection_state, :collection => humanize_select(Registration::SELECTION_STATES)

  .form-actions
    = f.submit :class => "btn"

= link_to 'Back', admin_events_path
