%legend Editing coach

= render 'form'

- if @coaching.any?
  %hr
  %h2 Coaching
  %table.table
    - @coaching.each do |coaching|
      %tr
        %td= coaching.coachable.description
        %td= link_to 'Remove', admin_coaching_path(coaching, coach_id: @coach.id), method: :delete, class: "btn btn-link"


- if @not_coaching.any?
  %hr
  %h2 Events not coached
  %table.table
    - @not_coaching.each do |object|
      %tr
        %td  #{object.class.name.humanize}: #{object.description}
        %td
          = simple_form_for [:admin, Coaching.new] do |f|
            = f.hidden_field :coachable_type, value: object.class.name.humanize
            = f.hidden_field :coachable_id, value: object.id
            = f.hidden_field :coach_id, value: @coach.id
            = f.submit "Add Coach", class: "btn btn-link"
= link_to 'Show', [:admin, @coach]
\|
= link_to 'Back', admin_coaches_path
