%p#notice= notice
%h2 Coach
%p
  %b Name:
  = @coach.name

%p
  %b Twitter:
  = @coach.twitter

%p
  %b Email:
  = @coach.email

- if @coach.coachings.any?
  %h3 Events Coaching
  %table.table
    - @coach.coachings.each do |coaching|
      %tr
        %td= coaching.coachable.description
= link_to 'Edit', edit_admin_coach_path(@coach)
\|
= link_to 'Back', admin_coaches_path
