.conrifmed-place--block.main-content
  .container.separator
    %h1.header-blurb
      Thank you for coming to Rails Girls London this weekend :)

  .container.separator
    .content
      %h3
        Hi #{@registration.forename},

      %p
        A massive thank you for attending Rails Girls London this weekend!
        %br
        We hope you enjoyed the experience and had a great time at our event :)


      %p
        We would really appreciate your feedback so we can make the next one even better!

      %p
        =link_to "Submit feedback", new_event_feedback_url(@event), class: 'button-primary'

      %p
        If you have any questions ping us on 
        = link_to "Slack", slack_invite_url

      = render 'shared/mailers/post_event_word_from_sponsors'

      .signature
        %p Rails Girls London team :)
        = render 'shared/mailers/social_media'

.container.separator
  = render 'shared/mailers/sponsors'
