.invite--block.main-content
  .container.separator
    %h1.header-blurb
      Yay! You are invited to attend Rails Girls London on the
      = @event.dates
  .container.separator
    .content
      %h3
        Hi
        #{@registration.first_name},

      %h2
        We're delighted to offer you a place at our Rails Girls London event on the #{@event.dates} at #{@event.host.name}.

      %p
        In order to secure your place, we kindly ask you to confirm your attendance.
        %br
          If you can no longer make it, we would appreciate if you could let us know by pressing the 'No, I can no longer make it' button. We require this so we can re-allocate your place and give someone else the opportunity to join us.

      %h4 Please let us know:
      .btn-group
        =link_to "Yes, I will be attending, please secure my place", invitation_url(@invitation, attending: true), class: "btn btn-green"
        =link_to "No, I can no longer make it", invitation_url(@invitation, attending: false), class: "btn btn-blue"

      %p
        Please bring your laptop and ID (to prove you are over 18).
        Attendees under 18 must be accompanied by an adult.

      %p
        Since Deliveroo  is letting us use their offices, we've been kindly asked to sign a short NDA. Everyone will need to sign it on the day. We have attached it to this email, so you can read it before coming to the event.

      %p
        You should also try to pre-install Rails. For instructions visit:
        =link_to " http://guides.railsgirls.com/install", 'http://guides.railsgirls.com/install'

      .signature
        %p Rails Girls London team :)
        = render 'shared/mailers/social_media'


.container.separator
  = render 'shared/mailers/sponsors'

.container.separator
  %p.important-info
    Important:
    %br
      In order to secure your place you need to RSVP (press the green button in the email above) and set your status to attending. This invite is valid until #{@invitation.valid_until_date.strftime("%-d %B  %Y")}.
    %br
    If you can no longer make it we kindly ask you to set your status to 'not attending' so we can offer your place to the next person on the waiting list.


