.conrifmed-place--block.main-content
  .container.separator
    %h1.header-blurb
      Yay! Its almost time :)
      = @event.dates
  .container.separator
    .content
      %h3
        Hi
        #{@registration.first_name},

      %h2
        We cant wait to see you at the workshop on Friday :)
      %p
        =link_to "View details & Timetable", event_url(@event), style: "color: #E0330C; text-decoration: none; border-bottom: 1px dotted #E0330C; "
      %p
        Please remember to bring with you:
        %b a printed or digital version of the confirmation email, your laptop, and your ID (to prove you are over 18). Attendees under 18 must be accompanied by an adult.
      %p
        During the event, we will be communicating through our slack, so make sure to join it:
        %a{href: 'http://slack.railsgirls.london/'}
          slack.railsgirls.london
      %p.mailer--separator
        We try cater food for everyone, but in case you have any food allergies, please bring along your own food, to avoid any allergic reactions.
      = render 'shared/mailers/word_from_sponsors_students'

      %p
        %strong See you at the workshop!

      .signature
        %p Rails Girls London team :)
        = render 'shared/mailers/social_media'


.container.separator
  = render 'shared/mailers/sponsors'
