.conrifmed-place--block.main-content
  .container.separator
    %h1.header-blurb
      Yay! Its almost time :)
      = @event.dates
  .container.separator
    .content
      %h3
        Hi
        #{@coach.name.split(" ")[0]},

      %h2
        We cant wait to see you at the workshop on Friday :)
      %p
        =link_to "View details & Timetable", event_url(@event), style: "color: #E0330C; text-decoration: none; border-bottom: 1px dotted #E0330C; "
      %p
        Please remember to bring your ID.
      %p
        Thank you for signing up to coach for our event. Without your support, we wouldn’t be able to make it happen.

      %p
        The event will take place on
        = @event.dates
        at the #{@event.host.name} offices.
      %p
        %b
          Venue address:
          =link_to "#{@event.host.address_line_1}, #{@event.host.address_line_2}, #{@event.host.address_city}, #{@event.host.address_postcode}", "https://goo.gl/maps/5rTpGR9dQGMWBKXMA"

      %p
        Coaches are expected to be around on Friday evening and all day Saturday.

      %h2
        FRIDAY, #{@event.start_date} - The installation party:
      %p
        %b
          Please arrive on Friday #{@event.start_date} by 18:30pm. We will finish around 21:15pm.
        We will have students arriving between 18:30pm and 19:30pm, usually quite a few people are coming late. We are expecting around 170 students & 120 coaches, so there will be a large number of people.
        %br
          On your arrival, please sign in at the reception desk.
        %br
          We will be giving out name badges for the event. If you have any problems, please contact the organisers on 07792 142702.

      %p
        Once you are at the venue:
        %br
          There will be food, drinks, DJ and good vibe throughout the evening. Great time to chat with people!

      %p
        What you are expected to do:
        %br
        We don't assign students to coaches this day; it will be more of networking time.
        Coaches will help students install Ruby and Rails on their computers. 
        This is the guide we recommend to use for installation:
        %a{href: 'http://guides.railsgirls.com/install'}
          guides.railsgirls.com/install
        Please be friendly and if you see any students who have just arrived and need help, give them a hand.
        We will wrap up at about 21:15pm.

      %h2
        SATURDAY, #{@event.end_date} - Workshop:
      %p
        %b
          Please arrive on Saturday #{@event.end_date} at 9:00am. We will finish around 17:45pm, and will be having drinks afterward in a near pub.

      %p
        Students will also be arriving at 9:00am.
        We will be serving light breakfast & coffee, with a Welcome from the organisers and sponsors presentations.
        We will then be splitting everyone into groups of 3: 1 coach + 2 students. Some coaches might be asked to be floating coaches and help if anyone is in need of support.

      %p
        %b
          9:00 - 11:00
        Breakfast, Welcome & Sponsors’ presentations.

      %p
        %b
          11:00 - 12:30
        Introduction to Ruby: Help students understand the basics with
        %a{href: 'https://ruby.github.io/TryRuby'}
          ruby.github.io/TryRuby
        %br
        App design workshop: This is when you explain how to start thinking about an app, what does a simple app require etc.
        The app we will be showing students is this:
        %a{href: 'http://guides.railsgirls.com/app'}
          guides.railsgirls.com/app

      %p
        %b
          12:30-13:10
        Lightning talks by our coaches.

      %p
        %b
          13:10-14:30
        Lunch. We will be serving food and drinks.

      %p
        %b
          14:30-17:45
        Continue working on the app.

      %p
        %b
          17:45 - till late
        Afterparty at a pub


      %h2
        A couple of other important things:

      %p
        If you haven’t already done so, then please join us on slack:
        %a{href: 'http://slack.railsgirls.london'}
          slack.railsgirls.london
        %br
          There is a closed channel only for #coaches - ask one of the organisers to add you.
          We will be communicating through slack during the event, so make sure you are on it and please help us keep it awesome :)

      %p
        If for any reason you can no longer make it to the event, please email and let us know asap.

      %p
        We try cater food for everyone, but in case you have any food allergies, please bring along your own food, to avoid any allergic reactions.

      %p
        Thank you for volunteering and we can't wait to see you all at the event.

      %p
        If you have any questions feel free to get in touch.
      = render 'shared/mailers/word_from_sponsors'

      %p
        %strong See you at the workshop!

      .signature
        %p Rails Girls London team :)
        = render 'shared/mailers/social_media'


.container.separator
  = render 'shared/mailers/sponsors'
