.conrifmed-place--block.main-content
  .container.separator
    %h1.header-blurb
      Yay! Its almost time :)
      = @event.dates
  .container.separator
    .content
      %h3
        Hi
        #{@coach.name.split(" ")[0]},

      %h2
        We cant wait to see you at the workshop tomorrow :)
      %p
        =link_to "View details & Timetable", event_url(@event), style: "color: #E0330C; text-decoration: none; border-bottom: 1px dotted #E0330C; "
      %p
        Since Deliveroo  is letting us use their offices, we've been kindly asked to sign a short NDA. Everyone will need to sign it on the day. We have attached it to this email, so you can read it before coming on Friday.
      %p
        Please remember to bring with you your ID.
      %p.mailer--separator
        During the event, we will be communicating through our slack, so make sure to join it:
        %a{href: 'http://slack.railsgirls.london/'}
          slack.railsgirls.london
        %br
        Also make sure that you are on our #coaches channel, its private so if you are not on it yet, ping one of the organisers to add you to it. Feel free to post any questions there at any time, there are loads of people on it happy to help :)
      = render 'shared/mailers/word_from_sponsors'

      %p
        %strong See you at the workshop!

      .signature
        %p Rails Girls London team :)
        = render 'shared/mailers/social_media'


.container.separator
  = render 'shared/mailers/sponsors'
