%section.event-details#upcoming_event
  %h3.underline Upcoming Event

  .title
    = event.title

  .details
    .description= event.description

    .applications
      - if event.accepting_registrations?
        Applications are open.

    .links
      %div
      - if event.accepting_registrations?
        = link_to "View details and apply", city_event_path(@city, event)
      - else
        = link_to "View details", city_event_path(@city, event)

      .pull-right
        =render partial: 'shared/tweet_button', locals: { twitter: city_twitter, text: "Rails Girls #{city_name} #{event.title}. Get excited and make things!" }

  %br
  %hr
  .row.information
    .span7
      .box
        %span.highlight You learn
        designing, prototyping and coding with the help of our coaches.

      .box
        %span.highlight You need
        your own laptop, curiosity and a sprinkle of imagination.


  %hr
  .box
    .help Want to help?
  .box
    We are looking for
    %strong Rails coaches
    %p
      %a{ href: "https://groups.google.com/forum/?fromgroups#!forum/rails-girls-london-coaches"}Subscribe to our coaches mailing list
