.page-header
  %h2.highlight== Sponsoring Rails Girls #{@city.name}

.row
  .span6
    %legend Our costs

    .details
      %p
        We've managed to get some great sponsors to cover the costs of
        the venue and catering, but we're still looking for sponsors to
        help cover the other costs incurred when running an event.

      %dl
        %dt Merchandise
        %dd Rails Girls branded swag bags, name badges, posters, balloons, stickers

        %dt Travel subsidies
        %dd For special guests and speakers

        %dt Post-workshop support
        %dd Frequent sessions to help keep the momentum

      %p
        Without the support of businesses within the community, we would not
        be able to make the impact we already have. Contributions at any level are
        welcomed.

  .span4
    = image_tag 'summer-event.jpg'

%hr

.row
  .span6.offset4
    %legend Sponsorship packages

    .details
      %p
        We're happy to accept sponsorship at any level, for any event we run.
        For sponsors of <strong>£500 or more</strong>, we would:

      %ul
        %li Feature your logo on our website
        %li Do social media shout outs
        %li Give you 5 minutes talk time at the event
        %li Distribute any swag you'd like our participants and coaches to take home

      %p
        If you'd like to discuss sponsorship, please get in touch at
        == #{mail_to @city.email}.

%hr

.row
  .span6
    %p.lead== Hosting a Rails Girls #{@city.name} event

    .details
      %p
        == Another way to sponsor Rails Girls #{@city.name} is to provide the venue and
        catering for a future event. We currently run large Workshops, and small
        Weekly meetings, and the requirements for each differ.

      %p
        == If you're interested in doing this, please get in touch at
        #{mail_to @city.email}, and we'll be happy to arrange something.
