.invitations--table
  %legend
    Invitations
    %small=invitations.count
    .pull-right
      %small
        attending
        %strong= invitations.accepted.count
        = unless invitations.waiting_list.empty?
          waiting list
          %strong= invitations.waiting_list.count

  %table.table.table-striped.table-balanced.table-condensed
    %thead
      %tr
        %td Name
        %td State
        %td

    %tbody
      - invitations.each do |invitation|
        %tr
          %td
            =link_to [ :admin, invitable, invitation] do
              = invitation.invitee.name
          %td
            - if invitation.attending.nil?
              \----
            - else
              -invitation_attendance_label(invitation)
          %td
            = link_to "Resend Invite", resend_invite_admin_event_invitation_path(invitable, invitation.id), method: :put,  class: "btn btn-primary"
