%legend Not sponsoring
%ul.unstyled
  - non_sponsored.each do |object|
    %li.row
      = simple_form_for [:admin, Sponsorship.new], html: { class: "form-inline" } do |f|
        .span4
          = link_to [:admin, object.city, object] do
            =object.to_s.html_safe
        .span3
          .span1
            = f.input :host, label: "Host"
            = f.hidden_field :sponsorable_id, value: object.id
            = f.hidden_field :sponsorable_type, value: object.class.name.humanize
            = f.hidden_field :sponsor_id, value: @sponsor.id
          = f.submit "Sponsor", class: "btn"

