%legend
  Registrations
  %small= link_to "Add registration", new_admin_event_registration_path(@event)

- if @event.registrations.any?
  .well
    .span3
      Registrations
      %span.badge.badge-important= registrations.count
    .span3
      Attending
      %span.badge.badge-success= registrations.accepted.count

  %table.table.table-striped.table-balanced.table-condensed
    %thead
      %tr
        %td Name
        %td Email
        %td

    %tbody
      - registrations.each do |registration|
        %tr{ class: registration.selection_state.eql?("accepted") ? "success" : "" }
          %td= link_to registration.fullname, admin_event_registration_path(@event, registration)
          %td= mail_to registration.email
          - if @event.active && !@event.members_converted?
            %td= accept_reject_invitation_link(@event, registration)
          - else
            %td= registration_selection_state(registration)
