%h1.title.highlight=@event.title if @event.title
%blockquote
  %p.lead=@event.dates

%h2 Feedback

= simple_form_for @feedback, url: event_feedback_path(@event, @feedback) do |f|
  .row
    .span12
      = f.input :email_address, input_html: { class: 'span4' }, hint: "You must use the same email address you used when signing up for the workshop", required: true
  %br
  %br
  .row
    .span5
      = f.input :application_description, as: :text, input_html: { class: 'span5', rows: 5 }
    .span5
      = f.input :application_url, input_html: { class: 'span5' }
      = f.input :github_url, input_html: { class: 'span5' }
  %hr
  .row
    .span5
      = f.input :feelings_before, as: :text, input_html: { class: 'span5', rows: 4 }, label: "How did you feel before the workshop?"
    .span5
      = f.input :feelings_after, as: :text, input_html: { class: 'span5', rows: 4 }, label: "How did you feel after the workshop?"

  .row
    .span12
      = f.input :comments, as: :text, input_html: { class: 'span10', rows: 5 }

  .form-actions
    = f.submit :Submit, class: 'btn btn-large btn-primary'
