%footer#contact.rg-footer
  .container.flex--container
    .london-cats.flex--item
      =image_tag "london_cats.png"
    .copyright.flex--item
      #{Date.today.year}, Rails Girls London.
      %br
      Contact us
      %a{ href: "mailto:railsgirlslondon@gmail.com" } via email
      , join us on
      %a{ href: slack_invite_url } Slack
      or follow us on
      %a{ href: "http://www.twitter.com/#{city_twitter}" } Twitter
      and
      %a{ href: "http://www.facebook.com/#{city_facebook}" } Facebook
      %h4
        Get excited and make things!
      .social-media--container
        = mail_to "railsgirlslondon@gmail.com", target: :_blank do
          = image_tag "social_media_icons/email.svg", class: "social-icon"
        = link_to slack_invite_url, target: :_blank do
          = image_tag "social_media_icons/slack.png", class: "social-icon"
        = link_to "http://facebook.com/railsgirlslondon", target: :_blank  do
          = image_tag "social_media_icons/facebook.svg", class: "social-icon"
        = link_to "http://twitter.com/railsgirls_ldn", target: :_blank do
          = image_tag "social_media_icons/twitter.svg", class: "social-icon"
        = link_to "https://www.instagram.com/rails_girls_london", target: :_blank do
          = image_tag "social_media_icons/instagram.svg", class: "social-icon"
        = link_to "https://www.linkedin.com/company/11157516", target: :_blank do
          = image_tag "social_media_icons/linkedin.svg", class: "social-icon"
        = link_to "https://github.com/railsgirlslondon/railsgirls-london", target: :_blank do
          = image_tag "social_media_icons/github.svg", class: "social-icon"
