%header.main-navigation
  .container
    %h1
      =link_to root_path do
        = image_tag "logo.svg", alt: "Rails Girls London"
    %nav
      %ul
        %li
          = link_to "ABOUT", landing_page_anchor_link("about")
        %li
          = link_to "EVENTS", landing_page_anchor_link("events")
        %li
          = link_to "SPONSORS", landing_page_anchor_link("sponsors")
        %li
          = link_to "CONTACT", landing_page_anchor_link("contact")

.subnav__blurb
  .container
    %h2
      \::making technology more approachable for women...since 2013! <3 <3 :)
