= link_to "Rails Girls London", root_path, :class => 'brand'
%ul.nav.pull-right
  %li.dropdown
    %a{ href: "#", class: "dropdown-toggle", :"data-toggle" => "dropdown"}
      -if user_signed_in?
        =current_user.email
      %b.icon-cog.icon-white
      %b.caret
    %ul.dropdown-menu
      - if user_signed_in?
        %li
          = link_to('Logout', destroy_user_session_path, :method=>'delete')
          = link_to('Edit account', edit_user_registration_path)
      - else
        %li
          = link_to('Login', new_user_session_path)
          = link_to('Sign up', new_user_registration_path)
