!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %link{rel: 'shortcut icon', href: '/favicon.png'}
    %title= content_for?(:title) ? yield(:title) : page_title
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    :javascript
      try{Typekit.load();}catch(e){}
    %script(type="text/javascript" src="https://use.typekit.net/xaz4ocu.js")
    = stylesheet_link_tag "admin", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
    %body
      %nav.navbar.navbar-default
        %ul.nav.navbar-nav
          %li{ class: "nav-link" }
            =link_to "Dashboard", admin_dashboard_path
          %li{ class: "nav-link" }
            =link_to "Events", admin_events_path
          %li{ class: "nav-link" }
            =link_to "Coaches", admin_coaches_path
          %li{ class: "nav-link" }
            =link_to "Sponsors", admin_sponsors_path
          %li{ class: "nav-link" }
            =link_to "Meetups", admin_meetups_path

      %main{:role => "main", class: "#{yield(:main_class)}page" }
        %section
          .container
            = yield

