!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %link{rel: 'shortcut icon', href: '/favicon.png'}
    %title= content_for?(:title) ? yield(:title) : page_title
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %script(type="text/javascript" src="http://use.typekit.net/xaz4ocu.js")
    %script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_KEY']}&sensor=true")
    :javascript
      try{Typekit.load();}catch(e){}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          .row
            .span10.offset1
              = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .row
          .span10.offset1
            = render 'layouts/messages'
            = yield
  =render 'layouts/footer'

